set number
set title
set showmatch
syntax on
set tabstop=4
set smartindent
set hlsearch
set laststatus=2
set cursorline
set list
set listchars=tab:»-,trail:-,eol:↲,extends:»,precedes:«,nbsp:%
set backspace=indent,eol,start
